*{background-color: #EEF5FF }


#contact_details{text-align: center;}

h1{text-transform:uppercase;}

#actual_details{text-align:justify;}

h1{background-color: #B4D4FF ;
    border: 1.5px solid black}

.icons{border:1px solid black}